.dot {
	position: fixed;
	width: 10em;
	height: 10em;
	fill: #b21413bf;
	top: -5em;
	left: -5em;
	opacity: 0;
	transform: scale(0);
	transform-origin: 50% 50%;
	user-select: none;
	pointer-events: none;
	z-index: 1;
  mix-blend-mode: difference;
}

.dot .text1 {
  font: normal 4px sans-serif;
  /* text-transform: uppercase; */
  fill: #eee;
  opacity: 0;
}
.dot .text2 {
  font: normal 4px sans-serif;
  /* text-transform: uppercase; */
  fill: #eee;
  opacity: 0;
}