* {
  font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 90%;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    border-radius: 30px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 20px;
    width: 20px;
    border: 5px solid rgba(0, 0, 0, 0.1);
}

.dot {
	position: fixed;
	width: 10em;
	height: 10em;
	fill: #b21413bf;
	top: -5em;
	left: -5em;
	opacity: 0;
	transform: scale(0);
	transform-origin: 50% 50%;
	user-select: none;
	pointer-events: none;
	z-index: 1;
  mix-blend-mode: difference;

	.text1 {
		font: normal 4px sans-serif;
		/* text-transform: uppercase; */
		fill: #eee;
		opacity: 0;
	}
  .text2 {
		font: normal 4px sans-serif;
		/* text-transform: uppercase; */
		fill: #eee;
		opacity: 0;
	}
}

body {
  overflow-x: hidden;
}

.font-butler {
  font-family: "Butler";
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.leading-n {
  line-height: normal;
}
/* loading */
.loading {
  z-index: 9999;
  background: white;
}
.loading .plus {
  width: 150px;
  height: 123px;
  overflow: hidden;
}
.loading-img {
  width: 150px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: -1;
}

.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: #cd1414;
}
.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.wave.v1::before,
.wave.v1::after {
  top: -25px;
}
.wave.v2::before,
.wave.v2::after {
  top: -75px;
}

.wave.v3::before,
.wave.v3::after {
  top: -135px;
}
.wave.v4::before,
.wave.v4::after {
  top: -100px;
}

.wave.v5::before,
.wave.v5::after {
  top: -135px;
}

.wave::before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 1);
  animation: animate 7.5s linear infinite;
  transition: 1s;
}

.wave::after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 12.5s linear infinite;
  transition: 1s;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -65%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -65%) rotate(360deg);
  }
}

/* modau */
.container-wrap {
  min-width: 100vw;
  /* min-height: 100vh; */
  /* background: white; */
}

.vnp-video {
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
    overflow: hidden;
    border-radius: 16px;
}
.vnp-video-2 {
    width: calc(100vw - 32px);
    /* height: calc(100vh - 32px); */
    height: auto;
    overflow: hidden;
    border-radius: 16px;
}

#vnp-video-modau {
  object-fit: cover;
  width: calc(100vw - 32px);
  height: calc(100vh - 32px);
  position: absolute;
  top: 0;
  left: 0;
}


.vnp-content {
    position: absolute;
    bottom: 0;
    height: 153px;
    width: 100%;
    padding: 24px;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.bg-1 {
    background-image: url('../images/bg.png');
    /* background-size: 100% 100%; */
    background-repeat: repeat;
}


.vnp-title {
    max-width: 669px;
    background: linear-gradient(180deg, #FFA234 0%, #CD1414 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vnp-content-2 {
    max-width: 1194px;
}

.vnp-dauan img {
  max-width: 610px;
}

.vnp-dauan-item {
  border-radius: 20px;
  display: flex;
  max-width: 579px;
  min-width: 533px;
  padding: 16px 16px 16px 35px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  background: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.dauan-image-2 {
  transform: rotate(0deg);
}

.dauan-image-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(7.5deg)!important;
  z-index: 10;
}

.dauan-image-3 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-7.5deg)!important;
  z-index: 11;
}

.back-link-dauan {
  transition: 0.5s;
  border-radius: 50%;
}

.back-link-dauan:hover {
  cursor: pointer;
  /* zoom: 1.15; */
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.vnp-dauan-stt {
  background: linear-gradient(180deg, #FFA234 0%, #CD1414 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

ul.vnp-dauan-ul li::before {
  content: "\2022";
  color: #696969;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.vnp-timeline-title {
  background: linear-gradient(180deg, #FF7C1D 0%, #F31D1D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vnp-timeline-run-bg {
  height: 2.5px;
  background: linear-gradient(90deg, #CD1414 0.66%, rgba(205, 20, 20, 0.00) 90.24%);
}

.vnp-model-item {
  border-radius: 32px;
  /* top: 0;
  position: absolute; */
}

.vnp-model-1 {
  background: #B20C22;
  /* z-index: 10; */
}
.vnp-model-2 {
  background: #FB912F;
  /* z-index: 9;
  transform-origin: bottom left;
  transform: rotate(10deg);
  zoom: 0.95; */
}
.vnp-model-3 {
  background: #22BA31;
  z-index: 8;
  transform-origin: bottom left;
  transform: rotate(20deg);
  zoom: 0.9;
}

#vnp-timeline-run-point {
  position: absolute;
  bottom: -17px;
  left: 75px;
}

#vnp-timeline-check-point {
  position: absolute;
  top: 0;
  left: 86px;
}

#vnp-timeline-image-point {
  width: 130px;
  height: 80px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  left: 110px;
}

.line-height-1 {
  line-height: 1;
}


.swiper {}

.vnp-timeline-model .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  background-color: #C51717;
}

.vnp-timeline-model .swiper-slide-1 {
  background-color: #C51717;
}

.vnp-timeline-model .swiper-slide-2 {
  background-color: #F25B2B;
}

.vnp-timeline-model .swiper-slide-3 {
  background-color: #FFA215;
}

.vnp-timeline-model .swiper-slide-4 {
  background-color: #00AFC7;
}

.vnp-timeline-model .swiper-slide-5 {
  background-color: #0CC373;
}

.swiper-button-next {
  bottom: -25px!important;
  top: unset!important;
  right: 44%!important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: ''!important;
}

.swiper-button-prev {
  bottom: -25px!important;
  top: unset!important;
  left: 44%!important;
  transform: rotate(180deg);
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: ''!important;
}


#lyricer .lyricer-current-line {
  color: #fff!important;
  text-shadow: unset!important;
  font-weight: 700;
}

#lyricer ul li {
  color: rgba(255, 255, 255, 0.1)!important;
  text-shadow: unset!important;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

#lyricer ul {
  max-height: 400px;
}

.overlay-1 {
  opacity: 0.8;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.box-shadow-1 {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.vnp-award-item {
  color: #696969;
  border-radius: 20px;
  display: flex;
  /* max-width: 397px; */
  /* min-height: 600px; */
  padding-top: 50px;
  padding-bottom: 36px;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  flex: 1;
  /* transition: 0.5s linear; */
}

.vnp-award-item:hover {
  /* transform: scale(1.2); */
  /* max-width: 462px; */
  /* min-height: 700px; */
}

ul.vnp-award-ul {
  /* max-width: 310px; */
}

ul.vnp-award-ul li::before {
  content: "\2022";
  color: #696969;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

ul.vnp-award-ul li {
  color: #696969;
  font-size: 18px;
}

.vnp-giaithuong-slide {
  width: calc(80vw);
}

.vnp-giaithuong-main {
  /* width: 365px!important; */
  display: flex!important;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: 0.5s;
}

.vnp-giaithuong-main img {
  border-radius: 20px;
}

.vnp-giaithuong-main.swiper-slide-active {
  width: 400px!important;
  opacity: 1;
}


/* Lyrics */

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  float: left;
}

#audio-player-container {
  --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    /* margin: 100px 2.5% auto 2.5%; */
    width: 95%;
    max-width: 100%;
    height: 132px;
    /* background: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    /* background: linear-gradient(to left, #007db5, #ff8a00); */
    z-index: -1;
}
/* p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    background: #fff;
} */
#play-icon {
    margin: 20px 2.5% 10px 2.5%;
}
/* path {
    stroke: #007db5;
} */
.time {
    display: inline-block;
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 28.5px 0 18.5px 0;
    float: left;
    color: white;
}
output {
    display: inline-block;
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
}
#volume-slider {
    margin: 10px 2.5%;
    width: 58%;
}
#volume-slider::-webkit-slider-runnable-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-moz-range-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-ms-fill-upper {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::before {
    width: var(--volume-before-width);
}
#mute-icon {
    margin: 0 2.5%;
}
input[type="range"] {
  background: transparent;
    position: relative;
    -webkit-appearance: none;
    width: 65%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) var(--buffered-width), rgba(255, 255, 255, 0.2) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: white;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    /* border: 1px solid #fff; */
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: white;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) var(--buffered-width), rgba(255, 255, 255, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #fff;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #fff;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #fff;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) var(--buffered-width), rgba(255, 255, 255, 0.2) var(--buffered-width));
    /* background: red; */
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}

#volume-output, #volume-slider, #mute-icon {
  display: none;
}

#intro-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

#intro-content span {
    opacity: 0.2;
}

#giaithuong-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

#giaithuong-content span {
    font-weight: 500;
}

/* .custom-cursor {
  position: fixed;
  opacity: 0;
  mix-blend-mode: difference;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(.5);
  z-index: 1000;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
} */

.music-play {
  animation: rotation 15s infinite linear;
  cursor: pointer;
}

#iconpause {
  width: 70px;
  height: 70px;
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  height: 150px;
  background: linear-gradient(148deg, #E15E15 -19.27%, #C71F33 80.76%);
  width: 100vw;
}

#play-icon {
  display: none;
}


@media only screen and (max-width: 768px) {
  .vnp-dauan-item {
    min-width: calc(100% - 32px);
    width: calc(100% - 32px);
    margin-left: 16px;
  }

  .dauan-image {
    width: calc(100% - 32px)!important;
    margin-left: 16px;
  }

  #lyricer ul li {
    font-size: 13px;
    font-weight: 700;
  }

  ul.vnp-award-ul li {
    font-size: 12px;
  }

  .vnp-award-item {
    min-height: unset!important;
  }

  .vnp-content {
    height: 95px;
  }
  
  .vnp-dauan-item {
    gap: 12px;
  }
  .back-link-dauan {
    width: 24px;
    height: 24px;
  }

  #lyricer {
    height: 150px;
    padding: 0 16px;
  }
  #lyricer ul li:nth-child(1),
  #lyricer ul li:nth-child(2), 
  #lyricer ul li:nth-child(3), 
  #lyricer ul li:nth-child(4),
  #lyricer ul li:nth-child(5) {
    display: none!important;
  }

  #audio-player-container {
    height: 50px;
    margin-bottom: -150px;
  }

  #current-time, #duration {
    font-size: 13px;
    font-weight: 400;
  }
  

  #vnp-timeline-check-point {
    height: 50px;
    left: 55px;
  }
  #vnp-timeline-run-point {
    left: 48px;
    width: 24px;
  }


  .vnp-award-item {
    width: calc(100% - 32px)!important;
    align-items: unset;
    padding: 24px 20px ;
  }

  .vnp-giaithuong-main.swiper-slide-active {
    max-width: 338px!important;
    opacity: 1;
  }

  .swiper-button-next {
    bottom: -25px!important;
    top: unset!important;
    right: 40%!important;
  }
  
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: ''!important;
  }
  
  .swiper-button-prev {
    bottom: -25px!important;
    top: unset!important;
    left: 40%!important;
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 1500px) {
  .vnp-timeline-model, .vnp-model {
    width: 500px!important;
    height: 500px!important;
  }
}
@media only screen and (max-width: 1200px) {
  .vnp-timeline-model, .vnp-model {
    width: 425px!important;
    height: 425px!important;
  }
}
@media only screen and (max-width: 1024px) {
  .vnp-timeline-model, .vnp-model {
    width: 325px!important;
    height: 425px!important;
  }
}
@media only screen and (max-width: 768px) {
  .vnp-timeline-model, .vnp-model {
    width: calc(100vw - 32px)!important;
    height: 425px!important;
  }
}